---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

export async function getStaticPaths() {
  const legalEntries = await getCollection('legal');
  return legalEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.slug.toUpperCase()}>
  <div class="container">
    <article class="legal-content">
      <Content />
    </article>
  </div>
</Layout>
